

.card { 
    display: grid;
    grid-template-rows: 1fr 30% 20%;
    background-color: white;
     
    box-shadow: 5px 5px 15px -7px rgba(41,44,61,0.27);
    -webkit-box-shadow: 5px 5px 15px -7px rgba(41,44,61,0.27);
    -moz-box-shadow: 5px 5px 15px -7px rgba(41,44,61,0.27);
     
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
  
    
}
.card-image img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
     
    
}
 
.card-description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-title { 
    border-top: 2px solid #F6F6FA;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-title a {
    text-decoration: none;
    color: black;
}
.card-btn {
    background-color: #ECE8F6;
    
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.card-btn:hover {
    background-color: #e6dcff;
}

